body{
  padding-top: 50px;
  /*background-color: #F2F0EB;*/
position: relative; 
}

     #section1 {padding-top:50px;height:300px;color: #fff; background-color: #00C499;}
  #section2 {padding-top:10px;height:400px;color: #000000; background-color: #264663;}
    #section3 {padding-top:50px;height:300px;color: #fff; background-color: #EC4449;}

#titreCom{
  color:#fff;
}

/*Footer de nos page */
#footer {
  height: 60px;
  background-color: #130F12;
  
  padding-top:20px;
  padding-bottom:20px;
}
/*Scroll top ( la fleche qui nous permet de remonter vers le gaut de la page )*/
.scroll-top {
   position:fixed;
   bottom:0;
   right:6%;
   z-index:100;
   background: #ffcc33;
   font-size:24px;
   border-top-left-radius:3px;
   border-top-right-radius:3px;
}
.scroll-top a:link,.scroll-top a:visited {
  color:#222;
} 

.wrap { 
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow-y:auto;
}
/*Pour les commentaire qui sont dans index.php*/
#scroll-com{margin:auto; height:200pt;overflow:auto} 
@import url(http://fonts.googleapis.com/css?family=Roboto); /* GOOGLE FREE FONTS */

body {
    font-family: 'Roboto', sans-serif;
}

section {
    padding-top: 80px;
    padding-bottom: 120px;
}

.head-set {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad-bottom {
    padding-bottom: 60px;
}

#home {
    background: url(../image/home4.jpg) no-repeat center center; 
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    min-height: 600px;
}
    #home .overlay {
        padding-top: 90px;
        background-color: rgba(0, 0, 0, 0.70); 
        min-height: 600px;
        color: #fff;
    }

    #home h1 {
        padding-top: 50px;
        font-weight: 900;
        font-size: 130px;
        font-family: 'Browallia New';
    }

.p-cls {
    padding-top: 30px;
    padding-bottom: 50px;
}



.parallax-like {
    background: url(../image/home3.jpg) no-repeat center center; /* DEFINE IMAGE PATH CAREFULLY*/
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

    .parallax-like .overlay {
        min-height: 200px;
         background-color: rgba(51, 77, 92, 0.70);;
        font-size: 40px;
        padding-bottom: 60px;
        padding-top: 60px;
    }


